@{
    ViewBag.Title = "在线学习 - 视频[预览]";
    Layout = "~/Views/Shared/LinkLayout.cshtml";
}

<script src="~/Resources/Scripts/Video/html5media.min.js"></script>
<link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/4.11/video.js"></script>

<div class="d-h">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-bar">
                    <span class="back"><span class="glyphicon glyphicon-chevron-left"></span></span>
                    <a href="@Url.Action("../../Course/CourseCreate/CoursePreviewLearn", new { TrainingId = Dianda.Common.QueryString.Encrypt(ViewBag.TrainingId) })" class="title">@ViewBag.TraningDetailTitle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-h d-h-video">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 rel">
                <div id="blk_ln_course_video" class="blk_ln_course_video" data-km-htm="blk_ln_course_video.html">
                    <div class="video-container">
                        @if (ViewBag.Model_Course_UnitContent != null)
                        {
                            Dianda.AP.Model.Course_UnitContent Video_Model = ViewBag.Model_Course_UnitContent;
                            <div class="video-player">
                                <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" width="1000" height="500" data-setup="{}">
                                    <source style="word-break: break-all; word-wrap: break-word;" src="@Video_Model.Content" type='video/mp4' />
                                </video>
                            </div>                            
                            <div class="video-info">
                                <span class="title" style="word-break: break-all; word-wrap: break-word;">@Video_Model.Title</span>
                                <span class="duration">@Html.Raw(Video_Model.TimeLength + "分钟")</span>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $proto.init(function () {
            /* 页面加载后立即执行的代码写在这里 */
            $('#d_note').hide();
        });
    });
</script>
