@using XXW.SiteUtils
@using Webdiyer.WebControls.Mvc
@using Dianda.AP.Model
@using Dianda.AP.BLL


@{
    Layout = null;
}

@model List<Member_AccountBaseInfo>

@{  
    object searchName = ViewData["searchName"];
    object organId = ViewData["organId"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseMembers</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Resources/Css/app.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Resources/Css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Resources/uploadify/uploadify.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Resources/Css/app.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Resources/Css/bootstrap-datepicker3.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Resources/Css/ymPrompt.css")">
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/ymPrompt.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/vendor/jquery-1.11.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/vendor/ie10-viewport-bug-workaround.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/km.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/proto.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/vendor/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/Scripts/vendor/bootstrap-datepicker.zh-CN.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/ueditor1_3_6-utf8-net/flproto0.1.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/resources/ueditor1_3_6-utf8-net/ueditor.config.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/resources/ueditor1_3_6-utf8-net/ueditor.all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/resources/ueditor1_3_6-utf8-net/lang/zh-cn/zh-cn.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/layer/layer.min.js")"></script>
</head>
<body>
    <div id="CTeacherList" class="row" style="width: 955px; margin: 20px 20px;">
        <div class="d-search" style="padding-left: 15px;">

            <form class="form-inline">
                <div class="form-group" style="width: 400px!important; float: left;">
                    <input id="searchName" name="searchName" type="text" class="form-control parameter" placeholder="姓名" style="width: 300px;">
                </div>
                <button type="button" class="btn btn-default" onclick="SearchMember()"><span id="search" class="glyphicon glyphicon-search"></span>搜索</button>
            </form>
        </div>
        <div class="col-xs-4" style="width: 100%;">
            @foreach (Member_AccountBaseInfo m in Model)
            {
                <label class="i">
                    @{
                string name = m.RealName != null ? m.RealName : (m.Nickname != null ? m.Nickname : m.UserName);
                    }
                    <span class="name">@name</span>
                    @{
                Member_InfoFKBLL member_InfoFKBLL = new Member_InfoFKBLL();
                Member_InfoFK member_InfoFK = new Member_InfoFK();
                    }
                    @*<span class="title">(讲师)</span>*@
                    @{Organ_DetailBLL organ_DetailBLL = new Organ_DetailBLL();}
                    <div class="unit trim organ">@organ_DetailBLL.GetModel((int)m.OrganId).Title</div>
                    <span title="@m.Mobile" class="glyphicon glyphicon-earphone mobile"></span>
                    <span title="@m.Email" class="glyphicon glyphicon-envelope email"></span>
                    <div class="thumb">
                        <img src="@m.Pic" class="praticepic pic"  style="width:100%;height:100%;">
                    </div>
                    <div class="int">
                        <input type="checkbox" name="chkItem" value="@m.Id" >
                    </div>
                </label>
            }

        </div>
        <div style="float: left; width: 885px;">
            @if (ViewBag.totalPage > 9)
            {
            @RenderPage(@Url.Content("~/Views/Shared/PageingPartial.cshtml"), new { pageindex = @ViewBag.pageIndex, basecount = 9, pagecount = @ViewBag.totalPage })
            }
        </div>
        <div class="col-xs-12">
            <hr>
            <button style="width: 150px;" class="btn btn-success" onclick="saveMembers()">保存</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>


    <input id="urlPath" type="hidden" value="/Practice/PracticalCourse/ChooseMembers?organId=@organId" />
    <input id="hidsearchName" type="hidden" data-name="searchName" class="sltHideValue" value="@searchName" />


    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Resources/Css/Coursemarket/coursemarket.css")">
    <script src="~/Resources/Scripts/Practice/chooseMembers.js"></script>


</body>
</html>
<script>
    $(function () {
        $proto.init(function () {
            /* 页面加载后立即执行的代码写在这里 */
        });
    });
</script>
